parameters:
    level: 6
    paths:
        - modules/addons/sevdesk
    scanFiles:
        - tests/Integration/Support/WhmcsCapsule.php
        - tests/StaticAnalysis/whmcs-functions.php
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
