parameters:
    level: 6
    paths:
        - modules/addons/sevdesk
    scanFiles:
        - tests/Integration/Support/WhmcsCapsule.php
        - tests/StaticAnalysis/whmcs-functions.php
        - tests/StaticAnalysis/whmcs-client.php
        - tests/StaticAnalysis/whmcs-user.php
        - tests/StaticAnalysis/whmcs-current-user.php
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
